apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: istio-ingressgateway
  namespace: istio-system
  labels:
    app: istio-ingressgateway
    release: prometheus-stack
spec:
  selector:
    matchLabels:
      app: istio-ingressgateway
  endpoints:
    - port: http-envoy-prom
      interval: 30s
      path: /stats/prometheus
