apiVersion: v1
kind: Service
metadata:
  name: jaeger-query
  namespace: observability
  labels:
    app: jaeger
spec:
  type: LoadBalancer
  ports:
  - name: query-http
    port: 16686
    targetPort: 16686
    protocol: TCP
  selector:
    app: jaeger
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger-collector
  namespace: observability
  labels:
    app: jaeger
spec:
  type: ClusterIP
  ports:
  - name: jaeger-collector-http
    port: 14268
    targetPort: 14268
    protocol: TCP
  - name: jaeger-collector-grpc
    port: 14250
    targetPort: 14250
    protocol: TCP
  - name: jaeger-collector-zipkin
    port: 9411
    targetPort: 9411
    protocol: TCP
  - name: jaeger-collector-otlp-grpc
    port: 4317
    targetPort: 4317
    protocol: TCP
  - name: jaeger-collector-otlp-http
    port: 4318
    targetPort: 4318
    protocol: TCP
  selector:
    app: jaeger
---
apiVersion: v1
kind: Service
metadata:
  name: zipkin
  namespace: observability
  labels:
    app: jaeger
spec:
  type: ClusterIP
  ports:
  - name: jaeger-collector-zipkin
    port: 9411
    targetPort: 9411
    protocol: TCP
  selector:
    app: jaeger
---
apiVersion: v1
kind: Service
metadata:
  name: tracing
  namespace: observability
  labels:
    app: jaeger
spec:
  type: ClusterIP
  ports:
  - name: http-query
    port: 80
    targetPort: 16686
    protocol: TCP
  - name: grpc-query
    port: 16685
    targetPort: 16685
    protocol: TCP
  selector:
    app: jaeger
