apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jaeger-operator
  namespace: argocd
spec:
  project: default
  source:
    chart: jaeger-operator
    repoURL: https://jaegertracing.github.io/helm-charts
    targetRevision: 2.57.0
    helm:
      valuesObject:
        jaeger:
          create: true
          spec:
            strategy: allInOne
            allInOne:
              image: jaegertracing/all-in-one:latest
              options:
                log-level: info
            storage:
              type: memory
              options:
                memory:
                  max-traces: 100000
            query:
              service:
                type: LoadBalancer
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
