apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-operator
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/manubalasree/postgres-operator
    targetRevision: main
    path: config/default

  destination:
    server: https://kubernetes.default.svc
    namespace: postgres-operator

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 7
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
