apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-telemetry
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/manubalasree/url-shortener-sre-lab.git
    targetRevision: HEAD
    path: kubernetes/kustomize/istio-telemetry

  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
