apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  name: istio-telemetry-config
  namespace: istio-system
spec:
  meshConfig:
    extensionProviders:
    - name: jaeger
      zipkin:
        service: jaeger-collector.observability.svc.cluster.local
        port: 9411
        maxTagLength: 256
    - name: envoy
      envoyFileAccessLog:
        path: /dev/stdout
    enableTracing: true
    defaultConfig:
      tracing:
        sampling: 100.0
        max_path_tag_length: 256
        zipkin:
          address: jaeger-collector.observability.svc.cluster.local:9411
